@use "../utils/breakpoints" as *;

.primary-card {
  width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 33px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 14rem;
  padding: 2.5rem 0 3rem 2rem;
  justify-content: space-between;
  animation: spawn var(--animation-duration) forwards;

  @include respond-to("lg") {
    max-width: 600px;
    width: 100%;
    padding: 2.5rem 4rem 5rem;
    flex-direction: row;
    gap: 0;
    min-height: fit-content;
  }
  @include respond-to('md') {
    padding: 2.5rem 2rem 6rem;

  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, var(--first-gradient-color), var(--second-gradient-color));
    opacity: 0.7;
  }
}

@keyframes spawn {
  0% {
    translate: 0 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}