@use "../utils/breakpoints" as *;

.secondary-card {
  height: 90%;
  width: 400px;
  background-color: var(--secondary-card-bg-color);
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: spawn var(--animation-duration) forwards;

  @include respond-to("lg") {
    border-top-right-radius: 0;
    border-bottom-left-radius: 33px;
    max-width: 500px;
    width: 90%;
  }
  @include respond-to('md') {
    height: 80%;
  }
  @include respond-to('sm') {
    height: 60%;
  }

  &__forecast-container {
    display: flex;
    width: 100%;
    gap: 0.2rem;
    justify-content: center;

  }
}

@keyframes spawn {
  0% {
    translate: 0 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}