@use "../utils/breakpoints" as *;

.weather-info {
  color: var(--font-color);
  z-index: 1;
  display: flex;
  flex-direction: column;


  &__weather-svg {
    width: 80px;
    min-height: 80px;
    @include respond-to('xs') {
      width: 60px;
    }

  }
  &__temperature {
    font-size: 2.6rem;
    font-weight: 700;
    text-align: start;
  }
  &__weather-description {
    margin-top: -10px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
  }
  @include respond-to('lg') {
    align-items: end;
    &__temperature {
      text-align: end;
    }
    &__weather-description {
      text-align: end;
    }
  }
}