.weather-info {
  color: var(--font-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;

  &__weather-svg {
    height: 50px;
    width: fit-content;
  }
  &__temperature {
    font-size: 2.6rem;
    font-weight: 700;
  }
  &__weather-description {
    margin-top: -10px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}