:root {
  --font-color: #FFF;
  --page-bg-color: #343D4B;
  --forecast-card-bg-color: #272E37;
  --secondary-card-bg-color: #222831;
  --first-gradient-color: #90D9E0;
  --second-gradient-color: #5460E6;
}