:root {
  --font-color: #FFF;
  --page-bg-color: #343D4B;
  --forecast-card-bg-color: #272E37;
  --forecast-card-hover-color: #4a5a6e;
  --secondary-card-bg-color: #222831;
  --first-gradient-color: #90D9E0;
  --second-gradient-color: #5460E6;
  --animation-duration: 1s;
  --transition-duration: 0.2s;
}