@use "../utils/breakpoints" as *;

:root {
  font-family: Montserrat, sans-serif;
}

html {
  font-size: 16px;
  @include respond-to('lg') {
    font-size: 15px;
  }
  @include respond-to('md') {
    font-size: 14px;
  }
  @include respond-to('sm') {
    font-size: 13px;
  }
  @include respond-to('xs') {
    font-size: 12px;
  }
}

.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--page-bg-color);
}

.page__content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 600px;
  @include respond-to("lg") {
    flex-direction: column;
    height: 75%;
    width: 90%;
  }
  @include respond-to('md') {
    height: 70%;
  }
  @include respond-to('sm') {
    width: 95%;
  }
}